.active-login{
    background-color: #ffe100;
    width: 50%;
    text-align: center;
    padding: 1rem 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-weight: 600;
}

.common-links{
    width: 50%;
    padding: 1rem 0;
    font-weight: 600;
}